# --- Dependencias ---
# La carpeta más pesada, se regenera con 'npm install' o 'yarn'
node_modules/

# --- Archivos de Build ---
# Código compilado para producción
build/
dist/
.output/
.next/
out/

# --- Archivos de Entorno (¡CRÍTICO!) ---
# Contienen API Keys, secretos y contraseñas. ¡Nunca subir!
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Es buena práctica subir un archivo de ejemplo
# Por eso, anulamos la regla solo para este archivo:
!.env.example

# --- Logs ---
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# --- Reportes de Tests ---
coverage/
.nyc_output/

# --- IDEs y Sistema Operativo ---
.vscode/
.idea/
.DS_Store
Thumbs.db

# --- Vercel (Si despliegas allí) ---
.vercel/